<div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem; height: 30rem" data-id="{{id}}">
        <img src="{{img_link}}" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">
                <a href="{{info_link}}" target="_blank" class="read-more">Read More</a>
            </p>
            <input type="checkbox" name="check-select" data-id="{{this.id}}" value="{{this.name}}" />
            <label for="add">Add to Itinerary</label>
        </div>
    </div>
</div>